body {
    background-color: cornsilk;
}
.main_container {
    
}

.heading {
    font-size: 60px;
    padding-top: 150px;
    color: brown;
    text-align: center;
}

.author {
	font-size: 25px;
	text-align: center;
	color: chocolate;
	padding-left: 50%;
	margin-top: -30px;
}
